<h1>Listing convos</h1>

<table>

<% @convos.each do |convo| %>
  <tr>
    <td><%= convo.title %></td>
    <td><%= link_to 'Show', convo %></td>
    <td><%= link_to 'Edit', edit_convo_path(convo) %></td>
    <td><%= link_to 'Destroy', convo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Convo', new_convo_path %>
