<h1>Public Conversations</h1>

<%= will_paginate @convos %>
<table id="convos_table">
<% @convos.each do |convo| %>
  <tr>
    <td>
      <%= link_to convo.title, convo_path(convo) %>
      <% if user_signed_in? %>
        <%= subscribe_or_unsubscribe_link(:convo => convo, :user => current_user) %>
      <% end %>
      <br/>
      <span class="mute small"><%= convo.created_at %></span>
    </td>
  </tr>
<% end %>
</table>
<%= will_paginate @convos %>
