<h1>Public Conversations</h1>

<%= will_paginate @convos %>
<table id="convos_table">
<% @convos.each do |convo| %>
  <tr>
    <td>
      <%= link_to convo.title, convo_path(convo) %>
      <%= link_to "subscribe", subscribe_convo_path(convo), :class => 'button-small-red' %><br/>
      <span class="mute small"><%= convo.created_at %></span>
    </td>
  </tr>
<% end %>
</table>
<%= will_paginate @convos %>
