<%= paginate @convos %>
<table id="convos_list">
<% @convos.each do |convo| %>
  <tr>
    <td>
      <%= link_to convo.title, convo_path(convo) %>
      <% if user_signed_in? %>
        <%= subscribe_or_unsubscribe_link(:convo => convo, :user => current_user) %>
      <% end %>
      <span class="mute small">
        <%= privacy_level(:convo => convo) %>      
      </span>
      <span class="mute small">
        <%= accessible(:convo => convo) %>      
      </span>
      <span class="mute small">
        <%= read_only(:convo => convo) %>      
      </span>
      <br/>
      <span class="mute small"><%= convo.created_at %></span> 
    </td>
  </tr>
<% end %>
</table>
<%= paginate @convos %>
