<!DOCTYPE html>
<html class="no-js">
	<head>
		<title>echowaves</title>
		<meta http-equiv="Content-Type" content="text/xhtml; charset=utf-8" />
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= render :partial => 'shared/global_js_vars' %>
    <%= csrf_meta_tag %>
	</head>
	<body>
		<div class="layout {layout: {type: 'border', hgap: 3, vgap: 3}}">
			<div class="north">
		        <%= render :partial => 'shared/header' %>
			</div>
			<div class="center page {layout: {type: 'border', hgap: 0, vgap: 0, resize: false}}">
			  	<div class="center" id="convo_content">
		          	<p class="notice"><%= notice %></p>
		          	<p class="alert"><%= alert %></p>
		          	<%= yield %>
			  	</div>
			</div><!-- center -->
			<div class="south">
		        <%= render :partial => 'shared/footer' %>
			</div>
		</div>
	</body>
</html>
