<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <%= javascript_include_tag "jquery-1.4.2.min" %>
  <%= javascript_include_tag "rails" %>
	<%= csrf_meta_tag %>
</head>

<body>

	<%= render :partial => 'shared/header' %>

	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

	<%= yield %>

	<%= render :partial => 'shared/footer' %>

</body>
