<!DOCTYPE html>
<html class="no-js">
	<head>
		<title>echowaves</title>
		<meta http-equiv="Content-Type" content="text/xhtml; charset=utf-8" />
    <%= stylesheet_link_tag "reset", "echowaves" %>
    <%= javascript_include_tag "jquery.js" %>
    <%= javascript_include_tag "jquery.metadata.js" %>
    <%= javascript_include_tag "jquery.sizes.js" %>
    <%= javascript_include_tag "jlayout.border.js" %>
    <%= javascript_include_tag "jlayout.grid.js" %>
    <%= javascript_include_tag "jlayout.flexygrid.js" %>
    <%= javascript_include_tag "jquery.jlayout.js" %>
    <%= javascript_include_tag "modernizr-1.5.min.js" %>
    <%= javascript_include_tag "echowaves.js" %>
    <%= javascript_include_tag "rails.js" %>

		<script type="text/javascript">
			$(function($)
			{
       $('.page').layout({resize: false});
				var container = $('.layout');
				function relayout() {
					container.layout({resize: false});
				}
				relayout();
				$(window).resize(relayout);
			});
		</script>
    <%= csrf_meta_tag %>
	</head>
	<body>
		<div class="layout {layout: {type: 'border', hgap: 3, vgap: 3}}">

			<div class="center page {layout: {type: 'border', hgap: 0, vgap: 0, resize: false}}">

			  <div class="center" id="convo_content">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= yield %>
			  </div>

			</div><!-- center -->



			<div class="north">
        <%= render :partial => 'shared/header' %>
			</div>
			<div class="south">
        <%= render :partial => 'shared/footer' %>
			</div>
		</div>
	</body>
</html>
