<!DOCTYPE html>
<html>
	<head>
		<title>echowaves</title>
		<meta http-equiv="Content-Type" content="text/xhtml; charset=utf-8" />
    <link rel="stylesheet" href="/stylesheets/echowaves.css" type="text/css" media="screen, projection"/>
    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "jquery.metadata" %>
    <%= javascript_include_tag "jquery.sizes" %>
    <%= javascript_include_tag "jLayout.border" %>
    <%= javascript_include_tag "jLayout.grid" %>
    <%= javascript_include_tag "jLayout.flexygrid" %>
    <%= javascript_include_tag "jquery.jLayout" %>
    <%= javascript_include_tag "echowaves" %>
    <%= javascript_include_tag "rails" %>

		<script type="text/javascript">
			$(function($)
			{
       $('.box').layout();
       $('.sidebar').layout();
       $('.convo').layout({resize: false});
				var container = $('.layout');
				function relayout() {
					container.layout({resize: false});
				}
				relayout();
				$(window).resize(relayout);
			});
		</script>
    <%= csrf_meta_tag %>
	</head>
	<body>
		<div class="layout {layout: {type: 'border', hgap: 3, vgap: 3}}">

			<div class="center convo {layout: {type: 'border', hgap: 0, vgap: 0, resize: false}}">
			  <div class="north warn" id="convo_header">
			    echowaves2 new design/layout sample app
          <div id="convo_settings"><img src="/images/gear.png"/></div>
          <div class="clear"></div>
			  </div>
			  <div class="center" id="convo_content">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= yield %>
			  </div>
			  <div class="south" id="convo_footer">
			    <textarea id="message_area" cols="80"></textarea>
			  </div>
			</div><!-- center & convo -->

      <div class="east sidebar {layout: {type: 'grid', hgap: 3, vgap: 6, columns: 1, rows: 1}}">
				  <div class="box {layout: {type: 'border', hgap: 0, vgap: 0, resize: false}}" id="component-1">
            <div class="north box_header">right panel</div>
            <div class="center box_content_round"></div>
          </div>
      </div><!-- east -->

			<div class="north">
        <%= render :partial => 'shared/header' %>
			</div>
			<div class="south">
        <%= render :partial => 'shared/footer' %>
			</div>
		</div>
	</body>
</html>
