<!DOCTYPE html>
<html class="no-js">
	<head>
		<title>echowaves</title>
		<meta http-equiv="Content-Type" content="text/xhtml; charset=utf-8" />
    <%= stylesheet_link_tag "reset", "echowaves", :cache => "all_styles" %>
    <%= csrf_meta_tag %>
	</head>
	<body>

    <%= render :partial => 'shared/templates' %>

		<div class="layout {layout: {type: 'border', hgap: 3, vgap: 3}}">

			<div class="center convo <%= @convo.private? ? 'private' : 'public' %> {layout: {type: 'border', hgap: 0, vgap: 0, resize: false}}">
			  <div class="north warn" id="convo_header">
			    <%= @convo.title %>
          <%= render :partial => "shared/convo_menu" %>
          <div class="clear"></div>
			  </div>
			  <div class="center" id="convo_content">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= yield %>
			  </div>
			  <div class="south" id="convo_footer">
          <%= render :partial => 'shared/message_area' %>
			  </div>
			</div><!-- center & convo -->

      <div class="east sidebar {layout: {type: 'grid', hgap: 3, vgap: 6, columns: 1, rows: 1}}">
				  <div class="box {layout: {type: 'border', hgap: 0, vgap: 0, resize: false}}" id="component-1">
            <div class="north box_header">dashboard</div>
            <div class="center box_content_round">
              <%= render :partial => "shared/dashboard" %>
            </div>

          </div>

      </div><!-- east -->

			<div class="north">
        <%= render :partial => 'shared/header' %>
			</div>
			<div class="south">
        <%= render :partial => 'shared/footer' %>
			</div>
		</div>

	</body>




    <%= javascript_include_tag "jquery.js" %>
    <%= javascript_include_tag "jquery.metadata.js" %>
    <%= javascript_include_tag "jquery.sizes.js" %>
    <%= javascript_include_tag "jlayout.border.js" %>
    <%= javascript_include_tag "jlayout.grid.js" %>
    <%= javascript_include_tag "jlayout.flexygrid.js" %>
    <%= javascript_include_tag "jquery.jlayout.js" %>
    <%= javascript_include_tag "modernizr-1.6.min.js" %>
    <%= javascript_include_tag "jquery.qtip-1.0.0-rc3.min.js" %>

    <%= javascript_include_tag :socky %>
    <%= socky :client_id => (user_signed_in? ? current_user.id : nil), :channels => "convo_#{@convo.id}" %>
    <%= javascript_include_tag "echowaves.js" %>
    <%= javascript_include_tag "convo.js" %>
    <%= javascript_include_tag "visits.js" %>
    <%= javascript_include_tag "rails.js" %>

    <script type="text/javascript">

      //----------------------------------------------------------------------
      // global settings
      //----------------------------------------------------------------------

      var g = {
        convoId      : "<%= @convo.id %>"
       ,userGravatar : "<%= user_signed_in? ? gravatar_url(current_user.email) : "/images/icons/default-avatar-60.png" %>"
      }

      //----------------------------------------------------------------------
      // start javascript when window is ready
      //----------------------------------------------------------------------

      $(function(){

        // socky
        //----------------------------------------------------------------------

        Socky.prototype.respond_to_message = function(m) {
          msg = JSON.parse(m)
          if($("#"+msg.uuid).length == 0){
            new messageView($('#messages'),msg,$('#message_template'));
            $("#convo_content").attr({ scrollTop: $("#convo_content").attr("scrollHeight") - $('#convo_content').height() }, 3000);
          };
        };

        // Socky.prototype.respond_to_connect = function() {};
        // Socky.prototype.respond_to_authentication_success = function() {};
        // Socky.prototype.respond_to_authentication_failure = function() {};
        // Socky.prototype.respond_to_disconnect = function() {
        //   setTimeout(function(instance) { instance.connect(); }, 1000, this);
        // };


        // layout
        //----------------------------------------------------------------------

        $('.box').layout();
        $('.sidebar').layout();
        $('.convo').layout({resize: false});
        var container = $('.layout');
        function relayout() {
          container.layout({resize: false});
        };
        relayout();
        $(window).resize(relayout);
        scrollBottom();

      });
    </script>

</html>
