<!DOCTYPE html>
<html>
	<head>
		<title>echowaves</title>
		<meta http-equiv="Content-Type" content="text/xhtml; charset=utf-8" />
    <link rel="stylesheet" href="/stylesheets/echowaves.css" type="text/css" media="screen, projection"/>
    <%= javascript_include_tag "jquery.js" %>
    <%= javascript_include_tag "jquery.metadata.js" %>
    <%= javascript_include_tag "jquery.sizes.js" %>
    <%= javascript_include_tag "jlayout.border.js" %>
    <%= javascript_include_tag "jlayout.grid.js" %>
    <%= javascript_include_tag "jlayout.flexygrid.js" %>
    <%= javascript_include_tag "jquery.jlayout.js" %>
    <script src="http://js.pusherapp.com/1.6/pusher.min.js"></script>
    <%= javascript_include_tag "echowaves.js" %>
    <%= javascript_include_tag "convo.js" %>
    <%= javascript_include_tag "rails.js" %>


	<script type="text/javascript">

	$(function(){

    var server = new Pusher('381b300d73c5fd5e106e', 'convos-<%=params[:convo_id]%>');
    server.bind('message-create', function(m) {
      if($("#"+m.uuid).length == 0){
        new messageView($('#messages'),m,$('#message_template'));
        $("#convo_content").attr({ scrollTop: $("#convo_content").attr("scrollHeight") - $('#convo_content').height() }, 3000);
      };
	  });

	  $("#message_area").keydown(function(e){
	    if ((e.keyCode || e.which) == 13){
        //----------------------------------------------------------------------
        // message attributes
        //----------------------------------------------------------------------
	      var text = $("#message_area").val();
	      var uuid = Math.uuid(8, 16);
        var gravatar_url = "<%= user_signed_in? ? gravatar_url(current_user.email) : "/images/icons/default-avatar-60.png" %>"
        var msg = {uuid:uuid, text:text, gravatar_url:gravatar_url};

        new messageView($('#messages'),msg,$('#message_template'));
        $("#convo_content").attr({ scrollTop: $("#convo_content").attr("scrollHeight") - $('#convo_content').height() }, 3000);
	      $.post("/convos/<%= @convo.id %>/messages",msg);
	     $("#message_area").val("");
	    };
	  });

	});


  $(function($){
    $('.box').layout();
    $('.sidebar').layout();
    $('.convo').layout({resize: false});
    var container = $('.layout');
    function relayout() {
      container.layout({resize: false});
    };
    relayout();
    $(window).resize(relayout);
    scrollBottom();
  });
  </script>
  <%= csrf_meta_tag %>
	</head>
	<body>

    <%= render :partial => 'shared/templates' %>

		<div class="layout {layout: {type: 'border', hgap: 3, vgap: 3}}">

			<div class="center convo {layout: {type: 'border', hgap: 0, vgap: 0, resize: false}}">
			  <div class="north warn" id="convo_header">
			    <%= @convo.title %>
          <div id="convo_settings"><img src="/images/gear.png"/></div>
          <div class="clear"></div>
			  </div>
			  <div class="center" id="convo_content">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= yield %>
			  </div>
			  <div class="south" id="convo_footer">
          <%= render :partial => 'shared/message_area' %>
			  </div>
			</div><!-- center & convo -->

      <div class="east sidebar {layout: {type: 'grid', hgap: 3, vgap: 6, columns: 1, rows: 1}}">
				  <div class="box {layout: {type: 'border', hgap: 0, vgap: 0, resize: false}}" id="component-1">
            <div class="north box_header">right panel</div>
            <div class="center box_content_round"></div>
          </div>
      </div><!-- east -->

			<div class="north">
        <%= render :partial => 'shared/header' %>
			</div>
			<div class="south">
        <%= render :partial => 'shared/footer' %>
			</div>
		</div>

	</body>
</html>
